body {
    background-color: Grey;
}
.post {
    background-color: LightBlue;
    text-align: center;
    margin: 10px;
    padding: 20px;
    border: 2px solid black;
}
.post2 {
    background-color: pink;
    text-align: center;
    margin: 10px;
    padding: 20px;
    border: 2px solid black;
}